# Data Science Project

In [7]:
library(tidyverse)
library(repr)
library(tidymodels)

In [8]:
url <- "https://drive.google.com/uc?export=download&id=1kBbW3nLa_kBrNruxi2itBmCwvUT29w8b" 
players_df <- read_csv(url)
head(players_df)

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  experience subscribe
1 Pro         TRUE
2 Veteran     TRUE
3 Veteran    FALSE
4 Amateur     TRUE
5 Regular     TRUE
6 Amateur     TRUE
  hashedEmail                                                      played_hours
1 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
2 f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9  3.8
3 b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28  0.0
4 23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5  0.7
5 7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb0af4d48fcce2420f3e  0.1
6 f58aad5996a435f16b0284a3b267f973f9af99e7a89bee0430055a44fa92f977  0.0
  name      gender Age
1 Morgan    Male    9
2 Christian Male   17
3 Blake     Male   17
4 Flora     Female 21
5 Kylie     Male   21
6 Adrian    Female 17

## Introduction:
### Data Description:

## Methods:

In [9]:
#finding the average values
players_average_values <- players_df |>
select(played_hours, Age) |>
summarize(across(played_hours:Age, mean, na.rm = TRUE))
players_average_values

#data wrangling
players_data_new <- players_df|>
rename(hashed_email = hashedEmail, age = Age) |>
filter(played_hours < 150.0, age != "NA") |>
select(played_hours, age,subscribe) |>
arrange(desc(played_hours))
head(players_data_new)

#mutate the response variable into factor data type
players_mutate<-players_data_new|>
mutate(subscribe=as_factor(subscribe))

head(players_mutate)

  played_hours Age
1 5.845918     20.52062

  played_hours age subscribe
1 56.1         23  TRUE
2 53.9         17  TRUE
3 48.4         17  TRUE
4 32.0         22  TRUE
5 30.3          9  TRUE
6 23.7         24  TRUE

  played_hours age subscribe
1 56.1         23  TRUE
2 53.9         17  TRUE
3 48.4         17  TRUE
4 32.0         22  TRUE
5 30.3          9  TRUE
6 23.7         24  TRUE

explain what we did^ and then explain why we scale

In [11]:
#data_wrangling scaled values 




set.seed(3456) 

# Randomly take 75% of the data in the training set. 
# This will be proportional to the different number of fruit names in the dataset.

players_df_split <- initial_split(players_mutate, prop = 0.75, strata = subscribe)  
players_df_train <- training(players_df_split)
players_df_test <- testing(players_df_split)

head(players_df_train)
head(players_df_test)

  played_hours age subscribe
1 7.1          17  FALSE
2 2.7          22  FALSE
3 2.7          21  FALSE
4 2.1          24  FALSE
5 1.8          32  FALSE
6 1.7          17  FALSE

  played_hours age subscribe
1 48.4         17  TRUE
2 32.0         22  TRUE
3 30.3          9  TRUE
4 23.7         24  TRUE
5 18.5         49  TRUE
6  5.6         17  TRUE