# Data Science Project

In [ ]:
library(tidyverse)
library(repr)
library(tidymodels)

In [ ]:
url <- "https://drive.google.com/uc?export=download&id=1kBbW3nLa_kBrNruxi2itBmCwvUT29w8b" 
players_df <- read_csv(url)
head(players_df)

## Introduction:
### Data Description:

- experience (categorical): the players gaming experience level (Pro, Veteran, Amateur, beginner, or regular)
subscribe (categorical): whether or not the player is subscribed to the newsletter. (True = subscriber, False = nonsubscriber)
hasedEmail (categorical): an encrypted version of an email address that protects user privacy
played_hours (numerical): the total hours played by the player
name (categorical): players name
gender (categorical): the players gender identity
Age (numerical): the players age (in years)
The “Players” dataset consists of 196 observations (rows) and 7 variables (columns), but there are potential data issues that may impact the accuracy and reliability of the analysis. The variable “Age” has two missing values that should be removed due to incomplete demographic data. Additionally, the “played_hours” variable has a wide distribution of values, consisting of outliers. Most values range from 0 to 50 hours, but some individuals have up to 200+ hours. Larger values could skew the data and lead to an inaccurate analysis. The mean value of each numerical column was found. For played_hours, the mean value was 5.845918 hours and the average age amongst the individuals was 20.52062 years old.